### DV Project

In [1]:
import pandas as pd
import numpy as np

In [2]:
top_100_marvel = pd.read_excel('./data/top_100_marvel.xlsx')

In [3]:
top_100_marvel.tail()

,page_id,name,urlslug,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
94,2344,Red Skull,Johann_Shmidt_(Earth-616),5,3,3,3,1,6,Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Deceased Characters,376,1941-08-01,1941.0
95,1131,Banshee,Sean_Cassidy_(Earth-616),3,2,4,3,5,4,Secret Identity,Neutral Characters,Green Eyes,Strawberry Blond Hair,Male Characters,NaN,Living Characters,374,1967-01-01,1967.0
96,2487,Toro,Thomas_Raymond_(Earth-616),2,2,3,2,5,4,Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,373,1940-09-01,1940.0
97,1572,The Watcher,Uatu_(Earth-616),7,7,7,7,7,1,Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Deceased Characters,373,1963-04-01,1963.0
98,2456,Thanos,Thanos_(Earth-616),6,7,7,6,6,4,No Dual Identity,Bad Characters,Red Eyes,No Hair,Male Characters,NaN,Living Characters,306,1973-02-01,1973.0

In [7]:
'Spider-Man (Peter Parker)'.split('(')

['Spider-Man']

In [19]:
clean_names = []

for hero_name in list(top_100_marvel['name']):
    if hero_name.strip() == 'Human Torch (Android)':
        clean_names.append(hero_name.strip())
        continue
    name_splits = hero_name.strip().split('(')
    
    cleaned_name = name_splits[0].strip()
    if cleaned_name not in clean_names:
        clean_names.append(cleaned_name)
    else:
        print (name_splits)
            
len(clean_names)

99

In [20]:
top_100_marvel['name'] = clean_names

In [21]:
top_100_marvel.head()

,page_id,name,urlslug,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man,Spider-Man_(Peter_Parker),4,4,3,3,1,4,Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043,1962-08-01,1962.0
1,7139,Captain America,Captain_America_(Steven_Rogers),3,3,2,3,1,6,Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360,1941-03-01,1941.0
2,64786,Wolverine,Wolverine_(James_%22Logan%22_Howlett),2,4,2,4,1,7,Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061,1974-10-01,1974.0
3,1868,Iron Man,Iron_Man_(Anthony_%22Tony%22_Stark),6,6,5,6,6,4,Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961,1963-03-01,1963.0
4,2460,Thor,Thor_(Thor_Odinson),2,7,7,6,6,5,No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258,1950-11-01,1950.0

In [24]:
writer = pd.ExcelWriter('./data/top_100_marvel_v2.xlsx')
top_100_marvel.to_excel(writer, 'Sheet1')

writer.save()

In [44]:
top_100_marvel = pd.read_excel('./data/top_100_marvel_v2.xlsx')

top_100_marvel.head()

,page_id,name,urlslug,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man,Spider-Man_(Peter_Parker),4,4,3,3,1,4,Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043,1962-08-01,1962.0
1,7139,Captain America,Captain_America_(Steven_Rogers),3,3,2,3,1,6,Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360,1941-03-01,1941.0
2,64786,Wolverine,Wolverine_(James_%22Logan%22_Howlett),2,4,2,4,1,7,Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061,1974-10-01,1974.0
3,1868,Iron Man,Iron_Man_(Anthony_%22Tony%22_Stark),6,6,5,6,6,4,Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961,1963-03-01,1963.0
4,2460,Thor,Thor_(Thor_Odinson),2,7,7,6,6,5,No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258,1950-11-01,1950.0

In [4]:
top_100_marvel.to_csv('./data/top_100_marvel_v2.csv')

In [5]:
superpowers_df = pd.read_csv('./data/super_hero_powers.csv')

superpowers_df.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [35]:
final_data = {'Name': [], 'Super Power': []}

In [36]:
superpowers = list(superpowers_df.columns[1:])

In [37]:
superpowers_df.iloc[0,0]

'3-D Man'

In [38]:
for x in range(len(superpowers_df)):
    character = superpowers_df.iloc[x, 0].strip()
    for y in range(1,len(superpowers_df.columns)):
        super_power_present = superpowers_df.iloc[x, y]
        if super_power_present:
            final_data['Name'].append(character)
            final_data['Super Power'].append(superpowers[y-1])
        continue

In [39]:
len(final_data['Super Power']) == len(final_data['Name'])

True

In [40]:
superpowers_df_new = pd.DataFrame.from_dict(final_data)

In [41]:
superpowers_df_new.head(20)

          Name           Super Power
0      3-D Man               Agility
1      3-D Man        Super Strength
2      3-D Man               Stamina
3      3-D Man           Super Speed
4       A-Bomb   Accelerated Healing
5       A-Bomb            Durability
6       A-Bomb             Longevity
7       A-Bomb        Super Strength
8       A-Bomb               Stamina
9       A-Bomb            Camouflage
10      A-Bomb       Self-Sustenance
11  Abe Sapien               Agility
12  Abe Sapien   Accelerated Healing
13  Abe Sapien       Cold Resistance
14  Abe Sapien            Durability
15  Abe Sapien  Underwater breathing
16  Abe Sapien          Marksmanship
17  Abe Sapien        Weapons Master
18  Abe Sapien             Longevity
19  Abe Sapien          Intelligence

In [44]:
set([len(power) for power in superpowers])

{4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 28}

In [48]:
too_long = []
for power in superpowers:
    if (len(power) > 22):
        if power not in too_long:
            too_long.append(power)

In [49]:
too_long

['Elemental Transmogrification',
 'Probability Manipulation',
 'Toxin and Disease Control',
 'Toxin and Disease Resistance',
 'Mind Control Resistance']

In [53]:
too_short = []
for power in superpowers:
    if (len(power) < 8):
        if power not in too_short:
            too_short.append(power)
print (too_short)

['Agility', 'Stealth', 'Flight', 'Stamina', 'Magic', 'Jump', 'Phasing', 'Empathy', 'Gliding', 'Banish', 'Sonar', 'Melting']

In [63]:
too_short_mod = {}

for word in too_short:
    chars = list(word)
    mod_word = ""
    for char in chars:
        mod_word = mod_word + " " + char
    mod_word = mod_word.strip()
    too_short_mod[word] = mod_word
    
too_short_mod

{'Agility': 'A g i l i t y',
 'Stealth': 'S t e a l t h',
 'Flight': 'F l i g h t',
 'Stamina': 'S t a m i n a',
 'Magic': 'M a g i c',
 'Jump': 'J u m p',
 'Phasing': 'P h a s i n g',
 'Empathy': 'E m p a t h y',
 'Gliding': 'G l i d i n g',
 'Banish': 'B a n i s h',
 'Sonar': 'S o n a r',
 'Melting': 'M e l t i n g'}

In [65]:
too_long_mod = {
    'Elemental Transmogrification' : 'Elem Transmogrification',
    'Probability Manipulation': 'Prob Manipulation',
    'Toxin and Disease Control': 'Toxin,Disease Control',
    'Toxin and Disease Resistance': 'Toxin,Disease Resis',
    'Mind Control Resistance': 'Mind Control Resis'
}

In [67]:
superpowers_mod = []

for power in superpowers:
    if power in too_long_mod.keys():
        superpowers_mod.append(too_long_mod[power])
    elif power in too_short_mod.keys():
        superpowers_mod.append(too_short_mod[power])
    else:
        superpowers_mod.append(power)

In [69]:
len(superpowers_mod)

167

In [70]:
len(superpowers)

167

In [73]:
superpowers_column_new = []

for power in list(superpowers_df_new['Super Power']):
    if power in superpowers_mod:
        superpowers_column_new.append(power)
    elif power in too_long_mod.keys():
        superpowers_column_new.append(too_long_mod[power])
    elif power in too_short_mod.keys():
        superpowers_column_new.append(too_short_mod[power])
    else:
        print (power)

In [76]:
len(superpowers_column_new) == len(superpowers_df_new)

True

In [77]:
superpowers_df_new['Super Power Processed'] = superpowers_column_new

In [79]:
superpowers_df_new.head()

      Name          Super Power Super Power Processed
0  3-D Man              Agility         A g i l i t y
1  3-D Man       Super Strength        Super Strength
2  3-D Man              Stamina         S t a m i n a
3  3-D Man          Super Speed           Super Speed
4   A-Bomb  Accelerated Healing   Accelerated Healing

In [80]:
superpowers_df_new.to_csv('./data/super_hero_powers_v2.csv')